h1 {
  letter-spacing: -1px;
  color: #5469d4;
  text-decoration: unset;
}
.form-content {
  background: rgba(255, 255, 255, 0.76);
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  flex-grow: 1;
}

.flex-flex {
  display: flex;
}
.align-center {
align-items: center;
}
.center-center {
align-items: center;
justify-content: center;
}
.box-root {
  box-sizing: border-box;
}
.flex-direction--column {
  -ms-flex-direction: column;
  flex-direction: column;
}
.padding-top--64 {
padding-top: 64px;
}
.padding-top--24 {
padding-top: 24px;
}
.padding-top--48 {
padding-top: 48px;
}
.padding-bottom--24 {
padding-bottom: 24px;
}
.padding-horizontal--48 {
padding: 48px;
}
.padding-bottom--15 {
padding-bottom: 15px;
}


.flex-justifyContent--center {
-ms-flex-pack: center;
justify-content: center;
}

.formbg {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}
label {
  margin-bottom: 10px;
}

.amount {
  text-align: right;
}

input.amount::-webkit-outer-spin-button,
input.amount::-webkit-inner-spin-button {
  display: none;
}

input.amount {
  -moz-appearance: textfield;
}

::ng-deep .mat-form-field-required-marker { color: red }

.form-select{
  border: none;
}

span.border-box-select {
  height: 1px;
  background-color: rgba(0,0,0,42);
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.color-bleu{
  background-color: #5469d4;
  color: white;
}

.gap-20px{
  gap: 20px;
}
