h1.title {
    text-align: center;
    margin-top: 46px;
    color: #5469d4;
}

.add-client {
    position: absolute;
    left: 13%;
}

.customers-list {
    width: 31%;
    margin-top: 4rem;
    text-align: center;
}

.button-add-client{
    background-color: white;
    color: #5469d4;
}